@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.font-text {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header, main, footer{
  width : 1240px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.menu {
  width : 309px;
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu a {
  margin: auto;
  text-decoration: none;
  color: #FF6060;
}

.background-banner {
  border-radius: 20px;
  filter: brightness(0.75);
 } 

h1 {
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  color: white;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner-text {
  text-align: center;
}

.home-gallery {
  background-color: lightgray;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-number, .error-text, .error-link {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #FF6060;
  margin: auto;
}

.error-number {
  font-size: 288px;
}

.error-text {
  font-size: 36px;
}

.error-link{
  font-size: 18px;
} 

.footer {
  background-color: black;
  text-align: center;
  height : 209px;
  display : flex;
  flex-direction: column;
}

.footer-text {
  color: white;
  text-align: center;
  margin: auto;
}

.footer-logo {
  margin: auto;
}