@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.font-text {
  font-family: "Montserrat", sans-serif;
}

.container
{
  min-width: 992px;
  max-width: 1400px; /* entre 992 et 1400 pixels pour le contenu */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  padding-top: 20px;
}

header, main{
  max-width : 1240px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.menu {
  width : 309px;
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu a {
  margin: auto;
  text-decoration: none;
  color: #FF6060;
}

.banner {
  border-radius: 20px;
  filter: brightness(0.75);
  width: 100%;
 } 

h1 {
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  color: white;
  white-space: nowrap;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0rem;
  width: 100%;
}

.home-banner-text {
  text-align: center;
}

.home-gallery {
  background-color: #F6F6F6;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2.5rem 0rem;
  margin-bottom: 40px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin: 25px;
  flex: 0 0 calc(33.33% - 20px); /* Trois cartes par ligne avec marge */
}

.card img {
  width: 348px;
  height: 348px;
  border-radius: 15px; /* Pour s'assurer que l'image est également arrondie */
  filter: brightness(0.75);
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
}

.card-title {
  margin: 0;
  color: #fff;
  font-size: 16px;
}


.about-banner{
  padding-top: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.aboutitems {
  padding-bottom: 20px;
  padding-left: 108px;
  padding-right: 108px;
}

.collapse-container{
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

.collapse-title {
  color: white;
  background-color: #FF6060;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border:#FF6060;
  width: 100%;
  text-align: left;
  font-size: 24px;
  display:flex;
  justify-content: space-between;
}

.collapse-content {
  color:#FF6060;
  background-color: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.hide {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.show {
  max-height: 174px; /* Remplacez la valeur par la hauteur maximale attendue de votre contenu */
}

.error-number, .error-text, .error-link {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #FF6060;
  margin: auto;
}

.error-number {
  font-size: 288px;
  font-weight: 700;
}

.error-text {
  font-size: 36px;
  font-weight: 500;
  margin: 40px;
}

.error-link{
  font-size: 18px;
  font-weight: 500;
  margin: 120px;
} 

.error-link a {
  color: #FF6060;
}

.infos-logement{
  color: #FF6060;
}

.cover-logement{
  width: 100%;
  height: 415px;
  border-radius: 25px;
  margin-top: 40px;
  object-fit: cover;
}

.logement-top {
  display: flex;
  margin-bottom: 1.625rem;
  margin-top: 1.875rem;
}

.tags-logement{
  display: flex;
  justify-content:flex-start;
  margin-top: 20px;
}

.style-tag{
  background-color: #FF6060;
  color:white;
  width: 175px;
  height: 30px;
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
}

.host-name-logement {
  white-space: pre-line;
}

.logement-gauche {
  width: 60%
}

.logement-droite {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 40%;
}

.nom-photo-note {
  align-items: flex-end;
}

.name-photo-host{
  display: flex;
  align-items: center;
}

.host-name-logement{
  text-align: end;
  margin-right: 15px;
}

.host-picture-logement {
  height: 4rem;
  width: 4rem;
  border-radius:100%;
}

.collapses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collapse-description {
  width: 48%;
}

.collapse-equipments{
  width: 48%;
}

.footer {
  background-color: black;
  text-align: center;
  height : 209px;
  display : flex;
  flex-direction: column;
  padding: 2.5rem 0rem;
  margin-left: -15px;
  margin-right: -15px;
}

.footer-text {
  color: white;
  text-align: center;
  margin: auto;
}

.footer-logo {
  margin: auto;
}

/* Ajoutez ces styles pour la version mobile (écran < 768px) */
@media screen and (max-width: 768px) {
  
  .container
    {
        min-width: auto;
        max-width: 992px;
        padding-left: 40px;
        padding-right: 40px;
    } 
  
  .home-gallery {
    justify-content: center; /* Centrer les cartes */
  }

  .card {
    flex: 0 0 calc(50% - 20px); /* Deux cartes par ligne avec marge */
  }

  .card img {
    width: auto;
    height: 380px;
  }

}

/* Ajoutez ces styles pour la version tablette (écran entre 769px et 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  
  .container
    {
        min-width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
  
  .home-gallery {
    justify-content: space-between; /* Espace entre les cartes comme dans la version desktop */
  }

  .card {
    flex: 0 0 calc(50% - 20px); /* Deux cartes par ligne avec marge */
  }

  .card img {
    width: 220px;
    height: 220px;
  }
}