@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.font-text {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 40px;
}

.menu {
  width : 309px;
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu a {
  margin: auto;
  text-decoration: none;
  color: #FF6060;

}

.background-banner {
  border-radius: 25px;
  width: 1240px;
  height: 223px;
  margin: auto;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.home-banner-text {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: black;
  text-align: center;
  height : 209px;
  display : flex;
  flex-direction: column;
}

.footer-text {
  color: white;
  text-align: center;
  margin: auto;
}

.footer-logo {
  margin: auto;
}